PREFIX kas: <http://kas.org/>
PREFIX : <http://example.com/>
PREFIX geo: <http://www.opengis.net/ont/geosparql#>

INSERT DATA {
  :alice :time {{ msg.header.stamp | rdf }} .
  {% for detection in msg.detections %}
    :alice a {{ detection.bbox3d.center | rdf }} .
  {% endfor %}


}
