PREFIX kas: <http://kas.org/>
PREFIX : <http://example.com/>
PREFIX geo: <http://www.opengis.net/ont/geosparql#>

INSERT DATA {
{% for detection in msg.detections %}
  {% set obj = "kas:obj_" ~ detection.id %}
    {{ obj }} a kas:{{ detection.class_name }} {|
      kas:confidence {{ detection.score | rdf }} ;
    |} .

    kas:{{ detection.class_name }} kas:id {{ detection.class_id | rdf }} ; kas:name {{ detection.class_name | rdf }} .

    {{ obj }} geo:hasGeometry/geo:asWKT {{ detection.bbox3d.center | rdf }} {|
      kas:timeStamp {{ msg.header.stamp | rdf }}
    |} .

    {{ obj }} kas:height {{ detection.bbox3d.size.z | rdf }} ; kas:width {{ detection.bbox3d.size.x | rdf }} ; kas:length {{ detection.bbox3d.size.y | rdf }} .
{% endfor %}
}
